<h3>ANIMAL LIST</h3>
<h4>ADD ANIMAL</h4>
<form (ngSubmit)="handleNewAnimal(AnimalForm)" #AnimalForm="ngForm" >
    <label>name</label>
    <input type="text" name="name" [(ngModel)]="name">
    <label>image</label>
    <input type="text" name="image" [(ngModel)]="image">
    <label>tyepedog</label>
    <input type="text" name="description" [(ngModel)]="type">
    <label>age</label>
    <input type="text" name="description" [(ngModel)]="age">
    <label>size</label>
    <input type="text" name="description" [(ngModel)]="size">
    <label>color</label>
    <input size="text" name="description" [(ngModel)]="color">
    <label>sex</label>
    <input type="text" name="description" [(ngModel)]="sex">
    <label>breed</label>
    <input type="text" name="description" [(ngModel)]="breed">
    <label>microchip</label>
    <input type="text" name="description" [(ngModel)]="microchip">
    <label>vaccinated</label>
    <input type="text" name="description" [(ngModel)]="sex">
    <label>healthcare</label>
    <input type="text" name="description" [(ngModel)]="healthcare">
    <label>energy level</label>
    <input type="text" name="description" [(ngModel)]="energylevel">
    <label>sociable</label>
    <input type="text" name="description" [(ngModel)]="sociable">
    <label>hates</label>
    <input type="text" name="description" [(ngModel)]="hates">
    <label>loves</label>
    <input type="text" name="description" [(ngModel)]="loves">
    <label>Going out and Sociability</label>
    <input type="text" name="description" [(ngModel)]="goingoutysociability">
    <label>A little of my past</label>
    <input type="text" name="description" [(ngModel)]="alittleofmypast">
  <button type="submit">Add</button>
</form>

