<div class="page home">
  <div class="container">

    <div id="left">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIollwYX1z08OES-KOSCSbiOXbrQRVExPU5Bit0NhSkXAo858v" width="350px" height="300px"/>
    </div>

    <div id="right">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF0wZxQH-FDhrCCfwuCEW6Nwa6BHKqzSBSZU-1jiUc2mafCM95" width="350px" height="300px"/>
    </div>

    <div class="containerhomepage">
        <input type="submit" value="ADOPT" onclick = "location='../animals'"/>
    </div>

  </div>  

  