<!--The content below is only a placeholder and can be replaced.-->
<div class="site-header">
  <div class="container">
    <h1>
        <a [routerLink]="['home']"> Furry Friends </a> 
    </h1>  
    <nav [ngClass]="{loading: loading}">
      <ul>
        <li> <a [routerLink]="['info']"> Info </a> </li>
        <li> <a [routerLink]="['animals']"> Animals</a></li>
        <li> <a [routerLink]="['shelters']"> Shelters</a></li>
        <li *ngIf="user"> <a [routerLink]="['profile']">{{user.username}}</a></li>
        <li *ngIf="user"> <app-logout></app-logout></li>
        <li *ngIf="!user"> <a [routerLink]="['signup']"> Sign Up</a></li>
        <li *ngIf="!user"> <a [routerLink]="['login']">Log In</a></li>
      </ul>
    </nav>   
  </div>  
</div>

<router-outlet></router-outlet>


