<h3>ANIMAL LIST</h3>
<h4>ADD ANIMAL</h4>

<form (ngSubmit)="handleNewAnimal()" #form="ngForm" >
    <label>name</label>
    <input type="text" name="name" [(ngModel)]="animal.name">
    <label>image</label>
    <input type="text" name="image" [(ngModel)]="animal.image">
    <label>type</label>
    <input type="text" name="animaltype" [(ngModel)]="animal.type">
    <label>age</label>
    <input type="text" name="age" [(ngModel)]="animal.age">
    <label>size</label>
    <input type="text" name="size" [(ngModel)]="animal.size">
    <label>color</label>
    <input size="text" name="color" [(ngModel)]="animal.color">
    <label>sex</label>
    <input type="text" name="sex" [(ngModel)]="animal.sex">
    <label>breed</label>
    <input type="text" name="breed" [(ngModel)]="animal.breed">
  <button type="submit">Add</button>
</form>