<h1>
  profile-page works!
</h1>
<div class="site-header">
  <div class="container">
    <h1>
      Furry Friends
    </h1>  
    <nav>
      <ul>
        <li> <a [routerLink]="['home']"> Home </a> </li>
        <li> <a [routerLink]="['info']"> Info </a> </li>
        <li> <a [routerLink]="['animals']"> Animals</a></li>
        <li> <a [routerLink]="['shelters']"> Shelters</a></li>
        <li> <a [routerLink]="['signup']"> Sign Up</a></li>
        <li> <a [routerLink]="['login']">Log In</a></li>
      </ul>
    </nav>   
  </div>  
</div>

