<div class="page login">
    <div class="container" >
        
        <!--<h3 class="page-title">Edit your profile</h3>    
        <app-edit-profile></app-edit-profile> -->  
            
        <div *ngIf="!shelter">
            <h3 class="page-title">Enter your Shelter</h3>
            <app-edit-shelter [shelter]="newShelter" [isNew]="true" (onSave)="handleSaveShelter()"></app-edit-shelter> 
        </div>

        <div *ngIf="shelter">
            <!-- <h3 class="page-title">Edit your Shelter</h3> -->
            <!--app-edit-shelter [shelter]="shelter"></app-edit-shelter--> 
            <!--app-map></app-map-->
            <h3 class="page-title">Your Shelter: {{shelter.name}}</h3>
                                    
            <app-animal-create [shelterId]="shelterId" [isNew]="true" (onSave)="handleNewAnimal($event)"></app-animal-create>
            
            <h3 class="page-title">Animal List</h3>
            <app-animals-shelter [shelterId]="shelterId"></app-animals-shelter> 
            
        </div>
    </div>
</div>
