<div class="page login">
    <div class="container">
        <app-shelterlist></app-shelterlist>
       <!-- <hr>
        <h3 class="page-title">Enter your Shelter</h3>
        <app-edit-shelter></app-edit-shelter>
        <hr>-->
        <h1>ADD ANIMALS</h1>
        <a [routerLink]="['/animals']"> Animals</a>
        <!--<button (click)="viewDetails">
                details (btn)
            </button>-->
       <!-- <h3 class="page-title">Edit your Profile</h3>
        <app-edit-profile></app-edit-profile>-->
    </div>
</div>
