html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin:0;
    padding:0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #333333;
}

.container {
    max-width: 900px;
    margin: 0 10px;
}

@media(min-width:768px) {
    .container {
        margin: 0 20px;
    }
}

@media(min-width:940px) {
    .container {
        margin: 0 auto;
    }
}

.page {
    padding-top: 20px;
}

.page-title {
    margin: 0 0 30px;
    font-size: 32px;
}


/* --------------------------------- forms --------------------------------- */

/*button {
    min-width: 100px;
    padding: 5px 40px;
    font-size: 18px;
}*/

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-group input {
    width: 100%;
    font-size: 20px;
}

.form-group.has-error label {
    color: red
}

.form-group .error {
    display: none;
    margin: 5px 0;
    color: red;
}

.form-group.has-error .error {
    display: block;
}

.form-group.actions {
    text-align: center; 
}

/* --------------------------------- header --------------------------------- */

.site-header {
    overflow: hidden;
    background-color: white;
}

.site-header h1 {
    /*float: left;*/
    text-align: center;
    margin:0;
    padding:20px 0;
}    

.site-header nav {
    float: right;
    margin:0;
    padding:20px 0;
}    

.site-header nav ul {
    list-style: none;
}
    
.site-header nav li {
    float: left;
}     

.site-header nav a {
    padding: 5px 10px;
}    
/* --------------------------------- Home Page --------------------------------- */

#left {
    float: right;
}
#right {
    float: left;
}
